openapi: "3.0.3"
info:
  title: "ECOSYS (OeKOLEITA-Project) - API"
  description: "This API is currently used by the frontend tool of the KTOR project (<a target=\"_blank\" 
  href=\"https://github.com/biodivAtlasAT/ecosys\">https://github.com/biodivAtlasAT/ecosys)</a>.<br>The parameter
  values contain default values after an initial system installation.<br><br>
  <b>Choose the appropriate server from the list to run the requests!</b>"
  version: "0.1.0"
servers:
- url: "https://ecosys.biodiversityatlas.at"
  description: "Live - Service"
- url: "https://ecosys.biodivdev.at"
  description: "Development System"
- url: "http://127.0.0.1:8080"
  description: "Local Development System"
paths:
  /api/layerData:
    get:
      tags: ["ECOSYS - Services"]
      description: "Returns ecosystem services included in a specific package for a given vector layer (synchronized 
      with Spatial Portal)."
      parameters:
      - name: "packageID"
        in: "query"
        required: true
        schema:
          type: "integer"
          default: 1
      - name: "layerID"
        in: "query"
        required: true
        schema:
          type: "integer"
          default: 2
      - name: "layerKey"
        in: "query"
        required: true
        description: "Value of the \"key\" of the call to route: \"./api/layers\""
        schema:
          type: "string"
          default: "Waldviertel"
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br>
          The <i>data</i> block contains a list of service objects, containing the service-id, the service-value and 
           its statistic quartile, the path to the symbol of the service and the dimension of the service."
          content:
            "application/json": {
            }
  /api/layers:
    get:
      tags: [ "ECOSYS - Services" ]
      description: "Returns the <i>enabled</i> vector layers which were synchronized with the spatial portal as 
      configured."
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br><br>
          The <i>data</i> block contains a list of layers containing the id, the name and the key. The latter is used 
          to access the geoserver directly from the frontend tool."
          content:
            "application/json": {
            }
  /api/packages:
    get:
      tags: [ "ECOSYS - Services" ]
      description: "Returns the available packages and its default setting."
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br><br>
          The <i>data</i> block contains a list of selectable packages. One of them is set as default package."
          content:
            "application/json": {
            }
  /api/rasterData:
    post:
      tags: [ "ECOSYS - Services" ]
      description: "Returns the service value for the requested services for the given longitude/latitude coordinates."
      parameters:
        - name: "packageID"
          in: "query"
          required: true
          schema:
            type: "integer"
            default: 1
        - name: "services"
          description: "List of services to investigate."
          in: "query"
          required: true
          schema:
            type: "string"
            default: "[4,5,6]"
        - name: "coords"
          description: "List of pairs of longitude/latitude coordinates."
          in: "query"
          required: true
          schema:
            type: "string"
            default: "[(15.9558588/48.3805228)]"
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br><br>
          The <i>data</i> block shows a list of services and their values depending on the given coordinates - 
          containing the service-id, the service-value and its statistic quartile, the path to the symbol of the 
          service and the dimension of the service."
          content:
            "application/json": {
            }
  /api/services:
    get:
      tags: [ "ECOSYS - Services" ]
      description: "Returns all defined services for the given package."
      parameters:
        - name: "packageID"
          in: "query"
          required: true
          schema:
            type: "integer"
            default: 1
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br><br>
          The <i>data</i> block contains a list of defined services with its attributes: id, name, category (to which 
          the service belongs to), the path to the svg-symbol and its original filename."
          content:
            "application/json": {
            }
  /assets/svg/{showSVG}:
    get:
      tags: ["ECOSYS - Services"]
      description: "Returns the SVG file with the given name (no path information is needed)."
      parameters:
      - name: "showSVG"
        in: "path"
        required: true
        description: "Name of the uploaded SVG file - can be found in result of API call to /api/services but without
              the path name."
        schema:
          type: "string"
      responses:
        "404":
          description: "File Not Found - the requested SVG file could not be found!"
        "200":
          description: "Requested SVG file."
          content:
            "image/svg+xml": { }
  /api/bt/projects:
    get:
      tags: [ "BIOTOP - Services" ]
      description: "Returns the <i>enabled</i> projects for different biotop types."
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br><br>
          The <i>data</i> block contains a list of projects containing the id and the name."
          content:
            "application/json": {
            }
  /api/bt/projects/{id}:
    get:
      tags: ["BIOTOP - Services"]
      description: "Returns detailed data about the requested project."
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "integer"
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br>
          The <i>data</i> block contains the data used in ecosys combined with the metadata from
          the data resource defined in the Atlas-Collectory application. Metadata from ecosys is merged into the 
           content of the data resource (for convenience reasons only)"
          content:
            "application/json": {
            }
  /api/bt/projects/{projectId}/species/{speciesGroupId}:
    get:
      tags: ["BIOTOP - Services"]
      description: "Returns detailed data about the requested project."
      parameters:
        - name: "projectId"
          in: "path"
          required: true
          schema:
            type: "integer"
        - name: "speciesGroupId"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br>
          The <i>data</i> block contains a list of species (taxon id and description) for a specific group of a project."
          content:
            "application/json": {
            }
