openapi: "3.0.3"
info:
  title: "ECOSYS (OeKOLEITA-Project) - API"
  description: "This API is currently used by the frontend tool of the KTOR project (<a target=\"_blank\" 
  href=\"https://github.com/biodivAtlasAT/ecosys\">https://github.com/biodivAtlasAT/ecosys)</a>.<br>The parameter
  values contain default values which correctly work after first system installation."
  version: "0.1.0"
servers:
- url: "https://ecosys.biodiversityatlas.at"
- url: "https://ecosys.biodivdev.at"
- url: "http://127.0.0.1:8080"
paths:
  /api/layerData:
    get:
      description: "Returns ecosystem services included in a specific package for a given layer."
      parameters:
      - name: "packageID"
        in: "query"
        required: true
        schema:
          type: "integer"
          default: 1
      - name: "layerID"
        in: "query"
        required: true
        schema:
          type: "integer"
          default: 2
      - name: "layerKey"
        in: "query"
        required: true
        description: "Value of the \"key\" of the call to route: \"./api/layers\""
        schema:
          type: "string"
          default: "Waldviertel"
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br>
          The <i>data</i> block contains a list of service objects, containing the service-id, the service-value and 
           its statistic quartile, the path to the symbol of the service and the dimension of the service."
          content:
            "application/json": {
            }
  /api/layers:
    get:
      description: "Returns the <i>enabled</i> layers which were synchronized with the spatial portal as configured."
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br><br>
          The <i>data</i> block contains a list of layers containing the id, the name and the key. The latter is used 
          to access the geoserver directly from the frontend tool."
          content:
            "application/json": {
            }
  /api/packages:
    get:
      description: "Returns the available packages and its default setting."
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br><br>
          The <i>data</i> block contains a list of selectable packages. One of them is set as default package."
          content:
            "application/json": {
            }
  /api/rasterData:
    post:
      description: "Returns the service value for the requested services for the given longitude/latitude coordinates."
      parameters:
        - name: "packageID"
          in: "query"
          required: true
          schema:
            type: "integer"
            default: 1
        - name: "services"
          description: "List of services to investigate."
          in: "query"
          required: true
          schema:
            type: "string"
            default: "[1,4,5]"
        - name: "coords"
          description: "List of pairs of longitude/latitude coordinates."
          in: "query"
          required: true
          schema:
            type: "string"
            default: "[(12.22/34.45),(45.12/13.998)]"
      responses:
        "200":
          description: "OK"
          content:
            text/plain:
              schema:
                type: "string"
  /api/services:
    get:
      description: "Returns all defined services for the given package."
      parameters:
        - name: "packageID"
          in: "query"
          required: true
          schema:
            type: "integer"
            default: 1
      responses:
        "200":
          description: "Returns json data containing an <i>error</i> block (no = error number, msg = error message) 
          and a <i>data</i> block. If the error number ist set to 0, then the response is valid.<br><br>
          The <i>data</i> block contains a list of defined services with its attributes: id, name, category (to which 
          the service belongs to), the path to the svg-symbol and its original filename."
          content:
            "application/json": {
            }
  /assets/svg/{showSVG}:
    get:
      description: "Returns the SVG file with the given name (no path information is needed)."
      parameters:
      - name: "showSVG"
        in: "path"
        required: true
        description: "Name of the uploaded SVG file - can be found in result of API call to /api/services but without
              the path name."
        schema:
          type: "string"
      responses:
        "404":
          description: "File Not Found - the requested SVG file could not be found!"
        "200":
          description: "Requested SVG file."
          content:
            "image/svg+xml": { }
