html, body {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
}
#map {
    position: relative;
    float: left;
    width: 100em;
    height: 760px;
}
#eSys {
    position: relative;
    width: 23%;
    float: left;
    min-width: 23%;
}
#id_welcome {
    color: #cccccc;
}
.transparent-popup {
    background-color: rgba(255, 255, 255, 200);
    border: none;
    box-shadow: none;
    padding: 0;
    fontSize: 16px;
    fontWeight:"bold";
    color: black;
    textAlign:"center";
}
.cl_habitatTypes {
    overflow-y: scroll;
    height: 38.2em;
    margin-top: 1em;
}
.cl_tdesc {
    margin: 0.4em;
}
.cl_search {
    width: 12em;
}
.cl_SName {
    position: relative;
    margin-left: 0.7em;
}
.cl_catL_1 {
    border-left: 0.2em solid #98BB1E;
}
.cl_catL_2 {
    border-left: 0.2em solid #F9B100;
}
.cl_catL_3 {
    border-left: 0.2em solid #9F2538;
}
.cl_catR_1 {
    border-right: 0.2em solid #98BB1E;
}
.cl_catR_2 {
    border-right: 0.2em solid #F9B100;
}
.cl_catR_3 {
    border-right: 0.2em solid #9F2538;
}
.cl_innerCOB {
    position: relative;
    margin-left: 1.2em;
    margin-top: 0.3em;
}
.cl_cob_1 {
    float: left;
    accent-color: #98BB1E;
    transform: scale(1.5);
}
.cl_cob_2 {
    float: left;
    accent-color: #F9B100;
    transform: scale(1.5);
}
.cl_cob_3 {
    float: left;
    accent-color: #9F2538;
    transform: scale(1.5);
}
.cl_IDred {
    color: rgba(200, 0, 0, 1);
    font-weight: bold;
    font-size: 1.1em;
}
.cl_SName {
    font-weight: bold;
    margin-left: 2em;
    float: left;
}
.cl_wrapEsys {
    position: relative;
    height: 2.8em;
    margin-right: 1em;
    padding-top: 0.4em;
    list-style: none;
}
.minimapNr {
    position: absolute;
    margin-top: 0.7em;
    height: 2em;
}
.markers {
    float: left;
    margin: 1.2em 0.8em 0.2em 0.8em;
}
.leaflet-popup {
    position: relative;
    position: absolute;
    text-align: center;
    z-index: 1200;
}
.cl_popup {
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
}
.cl_descr {
    position: relative;
    width: 11.5em;
}
.cl_descrH {
    position: relative;
    margin-top: 1em;
    margin-left: 3.2em;
}
.cl_dimension {
    position: relative;
    width: 6em;
}
.cl_value {
    position: relative;
    width: 3.5em;
}
.cl_qtArr {
    position: relative;
    margin-left: 1.2em;
    margin-top: 1.75em;
}
.cl_column {
    position: relative;
    float: left;
    height: 5.8em;
    padding-left: 0.15em;
    padding-right: 0.15em;
}
.cl_ecosys {
    position: relative;
    /* visibility: hidden; */
    background-color: rgba(255, 255, 255, 255);
    top: 1em;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.cl_popupmap {
    position: relative;
    float: left;
    top: -3em;
    height: 17em;
    width: 17em;
    margin-left: 2.4em;
}
.cl_minimap {
    position: relative;
    float: left;
    top: -3em;
    height: 17em;
    width: 17em;
    margin-left: 2.4em;
    margin-right: 2.4em;
}
.cl_mark {
    position: relative;
    top: -3em;
    width: 38em;
}
.cl_flL {
    position: relative;
    float:left;
}
.cl_delMark {
    position: relative;
    float:right;
    margin-right: 2em;
    margin-top: -2.1em;
    height: 1.6em;
    width: 1.6em;
    background-image: url("/proj_ecosys/images/img_003_close.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: white;
    z-index: 2000;
}
.cl_footer {
    position: relative;
    width: 100%;
}
.cl_esysInf {
    position: relative;
    width: 100%;
    height: 30em;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cl_headID {
    position: relative;
    margin-top: 1.3em;
    margin-top: 1.3em;
    height: 3.2em;
    color: rgba(0, 0, 0, 1);
}
.cl_row {
    position: relative;
    width: 100%;
    height: 50px;
    margin-left: 0.15em;
    margin-right: 0.15em;
}
.cl_fixedW {
    position: relative;
    width: 270px;
}
.cl_tDw {
    position: relative;
    margin-top: 2.4em;
    font-weight: bold;
    margin-left: 0.4em;
}

.cl_quint {
    position: relative;
    float: left;
    height: 50px;
    width: 50px;
    margin-top: 1em;
    margin-left: 0.15em;
}
#id_mainNav {
    position: relative;
    margin-top: 0.6em;
    height: 4.5em;
    margin-left: 3.1em;
    width: 100%;
}
#id_mod_1 {
    position: relative;
    display: block;
}
#id_mod_2 {
    position: relative;
    display: block;
}
#info {
    height: 100%;
    width: 100%;
}
#bt_close_mark {
    position: relative;
    top: -3.6em;
    z-index: 1000;
    display: none;
}
#bt_close {
    float: right;
    height: 3em;
    z-index: 1000;
}
#cnt_id {
    position: relative;
    height: 80%;
    width: 100%;
}
#cnt_main {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
}
#cnt_info {
    position: relative;
    height: 0%;
    width: 100%;
}
#cnt_map {
    position: relative;
    height: 100%;
}
#info_icon {
    position: absolute;
    right: 1em;
    top: 1em;
    padding: 1em;
    width: 3em;
    height: 3em;
    z-index: 1000;
}
#id_nav {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1000;
    margin-left: 1em;
    margin-top: 1em;
}
.cl_popup2 .leaflet-popup-content-wrapper {
    background: transparent;
    color:#000000;
    font-size:16px;
    line-height:24px;
    border-radius: 0px;
}
.cl_popup2 .leaflet-popup-content-wrapper a {
    background: transparent;
    color:rgba(255,255,255,0.0);
}
.cl_popup2 .leaflet-popup-tip-container {
    background: transparent;
    width:30px;
    height:15px;
}
.cl_popup2 .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
}
.cl_popup3 .leaflet-popup-content-wrapper {
    background: white;
    color:#000000;
    font-size:16px;
    line-height:24px;
    border-radius: 0px;
}
.cl_popup3 .leaflet-popup-content-wrapper a {
    background: white;
    color:rgba(255,255,255,0.0);
}
.cl_popup3 .leaflet-popup-tip-container {
    background: white;
    width:30px;
}
.cl_popup3 .leaflet-popup-tip {
    background: white;
    border: none;
    box-shadow: none;
}
.cl_button {
    position: relative;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: #3f3f3f;
    color: #cccccc;
    height: 3em;
}
.cl_select {
    position: relative;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.cl_hov {
    position: relative;
    list-style-type: none;

}
.cl_hov:hover {
    position: relative;
    list-style-type: none;
    cursor: pointer;
}
.line {
    fill: none;
    stroke: green;
    stroke-width: 1px;
}
#id_spList {
    position: relative;
    margin-top: 1em;
}
#id_addLayer {
    position: relative;
    margin-left: 3.2em;
}
#id_mapLayer {
    position: relative;
    margin-left: 3.2em;
}
.hide {
    display: none !important;
}
.text-schmal {
    max-width: 1000px
}

.page-id-506 .entry-content,
.page-id-507 .entry-content,
.page-id-508 .entry-content {
    max-width: 1000px;
}

/* MAIN NAV */

#site-navigation {
    margin-top: 12px;
}

/* TOP BAR NAV */

#menu-item-240 a,
#menu-item-241 a {
    font-size: 20px !important;
}

#menu-item-240 a {
    color: #2eacf1;
}

#menu-item-241 a {
    color: #4563a5;
}
#menu-item-243 {
    margin-top: 0.15em;
}
#menu-item-244,
#menu-item-245,
#menu-item-289{
    margin-top: 0.15em;
}

/* HOME HEADER */

#home-header {
    min-height: 500px;
}

#home-header-block {
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    padding: 50px 3%;
    margin-top: 100px;
}

#home-header-block p {
    font-weight: 600;
}

/* HOME 5 BOXEN */

#home-5-boxen h2 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 15px;
}

#home-5-boxen p {
    margin-bottom: 15px;
}

#home-5-boxen .inside-grid-column {
    margin-top: -20px;
}

.home5boxdiv {
    background-color: #f7f7f7;
    min-height: 450px;
}

.home5boxdiv p:last-child {
    padding: 0px 15px 15px 15px;
}

/* 1 */

#home-5-boxen .box1 .home5boxdiv {
    border-top: 20px solid #ef932a;
}

/* 2 */

#home-5-boxen .box2 .home5boxdiv {
    border-top: 20px solid #49754a;
}

/* 3 */

#home-5-boxen .box3 .home5boxdiv {
    border-top: 20px solid #3ebfd1;
}

/* 4 */

#home-5-boxen .box4 .home5boxdiv {
    border-top: 20px solid #d4da2d;
}

/* 5 */

#home-5-boxen .box5 .home5boxdiv {
    border-top: 20px solid #ea5a42;
}

/* HOME Suchformular */

#suchformular {
    display: block;
    text-align: center;
}

#suchfeld {
    margin-bottom: 20px;
    width: 300px;
}

/* HOME News */

.home .wp-show-posts-read-more {
    display: none;
}

#home-aktuelle-infos {
    box-sizing: border-box;
    border-left: 100px solid #ef7709;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home-aktuelle-infos .grid-container {
    margin-left: 150px;
    max-width: 800px;
}

/* HOME Dein Feedback */

#home-dein-feedback {
    box-sizing: border-box;
    border-left: 100px solid #dadf40;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home-dein-feedback .grid-container {
    margin-left: 150px;
    max-width: 800px;
}

/* HOME Ueber */

#home-ueber {
    box-sizing: border-box;
    border-left: 100px solid #11acc6;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home-ueber .grid-container {
    margin-left: 150px;
    max-width: 800px;
}

/* HOME Datenpartner */

#home-datenpartner {
    box-sizing: border-box;
    border-left: 100px solid #ed7560;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home-datenpartner .lgc-column {
    border: 1px solid red;
    padding: 20px;
    margin-right: 10px;
}

.wp-image-302 {
    margin-top: 35px
}


/* FOOTER */

.site-info {
    display: none;
}

/* TOP FOOTER */

.top-footer {
    padding: 20px;
    background-color: #f6f6f6;
}

.top-footer .widgettitle  {
    font-size: 15px;
    font-weight: 500;
}

.top-footer .gallery-item {
    text-align: left;
}

.top-footer a  {
    color: black;
}

/* SUB FOOTER */

.sub-footer {
    padding:3px;
    font-size: 14px;
}

#menu-sub-footer {
    text-align: right;
    margin-top: 1.3em;
}

#menu-sub-footer li  {
    display: inline !important;
}

#menu-sub-footer a  {
    padding: 10px;
    color: black;
}
li :hover {
    background-color: #49754a;
    color: white;
}
/* RESPONSIVE */

@media only screen and (max-width: 1210px) {
    #site-navigation {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .home5boxdiv {
        margin-bottom: 50px !important;
    }

    #home-aktuelle-infos {
        border-left: 30px solid #ef7709;
    }

    #home-dein-feedback {
        border-left: 30px solid #dadf40;
    }

    #home-ueber {
        border-left: 30px solid #11acc6;
    }

    #home-datenpartner {
        border-left: 30px solid #ed7560;
    }

    #home-dein-feedback .grid-container,
    #home-ueber .grid-container,
    #home-datenpartner .grid-container,
    #home-aktuelle-infos .grid-container {
        margin-left: 10px;
        max-width: 800px;
    }
}
html, body {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
}
#eSys {
    position: relative;
    width: 20%;
    float: left;
    min-width: 20%;
}
#id_welcome {
    color: #cccccc;
}
.cl_tdesc {
    margin: 0.4em;
}
.cl_search {
    width: 12em;
}
.cl_SName {
    position: relative;
    margin-left: 0.7em;
}
.cl_catL_1 {
    border-left: 0.2em solid #98BB1E;
}
.cl_catL_2 {
    border-left: 0.2em solid #F9B100;
}
.cl_catL_3 {
    border-left: 0.2em solid #9F2538;
}
.cl_catR_1 {
    border-right: 0.2em solid #98BB1E;
}
.cl_catR_2 {
    border-right: 0.2em solid #F9B100;
}
.cl_catR_3 {
    border-right: 0.2em solid #9F2538;
}
.cl_innerCOB {
    position: relative;
    margin-left: 1.2em;
    margin-top: 0.3em;
}
.cl_cob_1 {
    float: left;
    accent-color: #98BB1E;
    transform: scale(1.5);
}
.cl_cob_2 {
    float: left;
    accent-color: #F9B100;
    transform: scale(1.5);
}
.cl_cob_3 {
    float: left;
    accent-color: #9F2538;
    transform: scale(1.5);
}
.cl_IDred {
    color: rgba(200, 0, 0, 1);
    font-weight: bold;
    font-size: 1.1em;
}
.cl_SName {
    font-weight: bold;
    margin-left: 2em;
    float: left;
}
.cl_wrapEsys {
    position: relative;
    height: 2.8em;
    margin-right: 1em;
    padding-top: 0.4em;
    list-style: none;
}
.minimapNr {
    position: absolute;
    margin-top: 0.7em;
    height: 2em;
}
.markers {
    float: left;
    margin: 1.2em 0.8em 0.2em 0.8em;
}
.leaflet-popup {
    position: relative;
    position: absolute;
    text-align: center;
    z-index: 1200;
}
.cl_popup {
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
}
.cl_descr {
    position: relative;
    width: 11.5em;
}
.cl_descrH {
    position: relative;
    margin-top: 1em;
    margin-left: 3.2em;
}
.cl_dimension {
    position: relative;
    width: 6em;
}
.cl_value {
    position: relative;
    width: 3.5em;
}
.cl_qtArr {
    position: relative;
    margin-left: 1.2em;
    margin-top: 1.75em;
}
.cl_column {
    position: relative;
    float: left;
    height: 5.8em;
    padding-left: 0.15em;
    padding-right: 0.15em;
}
.cl_ecosys {
    position: relative;
    /* visibility: hidden; */
    background-color: rgba(255, 255, 255, 255);
    top: 1em;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.cl_popupmap {
    position: relative;
    float: left;
    top: -3em;
    height: 17em;
    width: 17em;
    margin-left: 2.4em;
}
.cl_minimap {
    position: relative;
    float: left;
    top: -3em;
    height: 17em;
    width: 17em;
    margin-left: 2.4em;
    margin-right: 2.4em;
}
.cl_mark {
    position: relative;
    top: -3em;
    width: 38em;
}
.cl_flL {
    position: relative;
    float:left;
}
.cl_delMark {
    position: relative;
    float:right;
    margin-right: 2em;
    margin-top: -2.1em;
    height: 1.6em;
    width: 1.6em;
    background-image: url("/proj_ecosys/images/img_003_close.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: white;
    z-index: 2000;
}
.cl_footer {
    position: relative;
    width: 100%;
}
.cl_esysInf {
    position: relative;
    width: 100%;
    height: 30em;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cl_headID {
    position: relative;
    margin-top: 1.3em;
    margin-top: 1.3em;
    height: 3.2em;
    color: rgba(0, 0, 0, 1);
}
.cl_row {
    position: relative;
    width: 100%;
    height: 50px;
    margin-left: 0.15em;
    margin-right: 0.15em;
}
.cl_fixedW {
    position: relative;
    width: 270px;
}
.cl_tDw {
    position: relative;
    margin-top: 2.4em;
    font-weight: bold;
    margin-left: 0.4em;
}

.cl_quint {
    position: relative;
    float: left;
    height: 50px;
    width: 50px;
    margin-top: 1em;
    margin-left: 0.15em;
}
#id_mainNav {
    position: relative;
    margin-top: 0.6em;
    height: 4.5em;
    margin-left: 3.1em;
    width: 100%;
}
#id_mod_1 {
    position: relative;
    display: block;
}
#id_mod_2 {
    position: relative;
    display: block;
}
#info {
    height: 100%;
    width: 100%;
}
#bt_close_mark {
    position: relative;
    top: -3.6em;
    z-index: 1000;
    display: none;
}
#bt_close {
    float: right;
    height: 3em;
    z-index: 1000;
}
#cnt_id {
    position: relative;
    height: 80%;
    width: 100%;
}
#cnt_main {
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
}
#cnt_info {
    position: relative;
    height: 0%;
    width: 100%;
}
#info_icon {
    position: absolute;
    right: 1em;
    top: 1em;
    padding: 1em;
    width: 3em;
    height: 3em;
    z-index: 1000;
}
#cnt_nav {
    position: absolute;
    padding-bottom: 3em;
    width: 52em;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    z-index: 2000;
    right: 0;
}
#id_nav {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1000;
    margin-left: 1em;
    margin-top: 1em;
}
.cl_popup2 .leaflet-popup-content-wrapper {
    background-color: rgba(255, 255, 255, 200);;
    color:#000000;
    font-size:16px;
    line-height:24px;
    border-radius: 0px;
}
.cl_popup2 .leaflet-popup-content-wrapper a {
    background: transparent;
    color:rgba(255,255,255,0.0);
}
.cl_popup2 .leaflet-popup-tip-container {
    background: transparent;
    width:30px;
    height:15px;
}
.cl_popup2 .leaflet-popup-tip {
    background: transparent;
    border: none;
    box-shadow: none;
}
.cl_popup3 .leaflet-popup-content-wrapper {
    background: white;
    color:#000000;
    font-size:16px;
    line-height:24px;
    border-radius: 0px;
}
.cl_popup3 .leaflet-popup-content-wrapper a {
    background: white;
    color:rgba(255,255,255,0.0);
}
.cl_popup3 .leaflet-popup-tip-container {
    background: transparent;
    width:30px;
    height: 1em;
}
.cl_popup3 .leaflet-popup-tip {
    background: white;
    border: none;
    box-shadow: none;
    transform: rotate(45deg);
}
.cl_button {
    position: relative;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background-color: #3f3f3f;
    color: #cccccc;
    height: 3em;
}
.cl_select {
    position: relative;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.cl_hov {
    position: relative;
    list-style-type: none;
}
.line {
    fill: none;
    stroke: green;
    stroke-width: 1px;
}
#id_spList {
    position: relative;
    margin-top: 1em;
}
#id_addLayer {
    position: relative;
    margin-left: 3.2em;
}
#id_mapLayer {
    position: relative;
    margin-left: 3.2em;
}
.hide {
    display: none !important;
}
.text-schmal {
    max-width: 1000px
}

.page-id-506 .entry-content,
.page-id-507 .entry-content,
.page-id-508 .entry-content {
    max-width: 1000px;
}

/* MAIN NAV */

#site-navigation {
    margin-top: 12px;
}

/* TOP BAR NAV */

#menu-item-240 a,
#menu-item-241 a {
    font-size: 20px !important;
}

#menu-item-240 a {
    color: #2eacf1;
}

#menu-item-241 a {
    color: #4563a5;
}
#menu-item-243 {
    margin-top: 0.15em;
}
#menu-item-244,
#menu-item-245,
#menu-item-289{
    margin-top: 0.15em;
}

/* HOME HEADER */

#home-header {
    min-height: 500px;
}

#home-header-block {
    max-width: 600px;
    margin: 0 auto;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    padding: 50px 3%;
    margin-top: 100px;
}

#home-header-block p {
    font-weight: 600;
}

/* HOME 5 BOXEN */

#home-5-boxen h2 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 15px;
}

#home-5-boxen p {
    margin-bottom: 15px;
}

#home-5-boxen .inside-grid-column {
    margin-top: -20px;
}

.home5boxdiv {
    background-color: #f7f7f7;
    min-height: 450px;
}

.home5boxdiv p:last-child {
    padding: 0px 15px 15px 15px;
}

/* 1 */

#home-5-boxen .box1 .home5boxdiv {
    border-top: 20px solid #ef932a;
}

/* 2 */

#home-5-boxen .box2 .home5boxdiv {
    border-top: 20px solid #49754a;
}

/* 3 */

#home-5-boxen .box3 .home5boxdiv {
    border-top: 20px solid #3ebfd1;
}

/* 4 */

#home-5-boxen .box4 .home5boxdiv {
    border-top: 20px solid #d4da2d;
}

/* 5 */

#home-5-boxen .box5 .home5boxdiv {
    border-top: 20px solid #ea5a42;
}

/* HOME Suchformular */

#suchformular {
    display: block;
    text-align: center;
}

#suchfeld {
    margin-bottom: 20px;
    width: 300px;
}

/* HOME News */

.home .wp-show-posts-read-more {
    display: none;
}

#home-aktuelle-infos {
    box-sizing: border-box;
    border-left: 100px solid #ef7709;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home-aktuelle-infos .grid-container {
    margin-left: 150px;
    max-width: 800px;
}

/* HOME Dein Feedback */

#home-dein-feedback {
    box-sizing: border-box;
    border-left: 100px solid #dadf40;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home-dein-feedback .grid-container {
    margin-left: 150px;
    max-width: 800px;
}

/* HOME Ueber */

#home-ueber {
    box-sizing: border-box;
    border-left: 100px solid #11acc6;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home-ueber .grid-container {
    margin-left: 150px;
    max-width: 800px;
}

/* HOME Datenpartner */

#home-datenpartner {
    box-sizing: border-box;
    border-left: 100px solid #ed7560;
    margin-top: 40px;
    margin-bottom: 40px;
}

#home-datenpartner .lgc-column {
    border: 1px solid red;
    padding: 20px;
    margin-right: 10px;
}

.wp-image-302 {
    margin-top: 35px
}


/* FOOTER */

.site-info {
    display: none;
}

/* TOP FOOTER */

.top-footer {
    padding: 20px;
    background-color: #f6f6f6;
}

.top-footer .widgettitle  {
    font-size: 15px;
    font-weight: 500;
}

.top-footer .gallery-item {
    text-align: left;
}

.top-footer a  {
    color: black;
}

/* SUB FOOTER */

.sub-footer {
    padding:3px;
    font-size: 14px;
}

#menu-sub-footer {
    text-align: right;
    margin-top: 1.3em;
}

#menu-sub-footer li  {
    display: inline !important;
}

#menu-sub-footer a  {
    padding: 10px;
    color: black;
}

/* RESPONSIVE */

@media only screen and (max-width: 1210px) {
    #site-navigation {
        margin-top: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .home5boxdiv {
        margin-bottom: 50px !important;
    }

    #home-aktuelle-infos {
        border-left: 30px solid #ef7709;
    }

    #home-dein-feedback {
        border-left: 30px solid #dadf40;
    }

    #home-ueber {
        border-left: 30px solid #11acc6;
    }

    #home-datenpartner {
        border-left: 30px solid #ed7560;
    }

    #home-dein-feedback .grid-container,
    #home-ueber .grid-container,
    #home-datenpartner .grid-container,
    #home-aktuelle-infos .grid-container {
        margin-left: 10px;
        max-width: 800px;
    }
}
.cl_habitatTypes ul {
    margin-left: 2em;
}
a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Pacifico', cursive;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Pacifico', cursive;
}

ul.cl_accord {
    list-style-type: none;
    width: 40%;
    padding: 0px;
    margin: 5% auto 0 auto;
}

.cl_accord > li {
    width: 100%;
    display: block;
}

.cl_accord li > a {
    background: #f5f5f5;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #d6d6d6;
    cursor: pointer;
    padding: 10px 0px;
    font-size: 24px;
}

.cl_accord li > a:hover {
    background: #ccc;
}
.cl_cntCap {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
.cl_services {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}
.cl_accord li > a:after {
    content: "+";
    float: right;
    margin-right: 2%;
}

.cl_accord li > ul {
    display: none;
    background: #fff;
    padding: 10px;
    border-bottom: 2px solid #d6d6d6;
    font-size: 20px;
    margin: 0;
}

.cl_accord li a.active:after {
    content: "-";
    float: right;
    margin-right: 2%;
}
.cl_toggle {
    cursor: pointer;
}
.cl_toggle {
    color: #49754a;
    font-style: italic;
    font-weight: bold;
}
.cl_infoIcon {
    position: relative;
    left: 1em;
    top: 0.2em;
}